:root {
    --primary-bg: #683a15d7;
    --navbar-bg: #683a15d7;
    --navbar-hover: #5a0910;
    --navbar-li: rgba(18, 180, 7, 0.678);
    --card-green: #00ad6a;
    --card-bg: #d9e4c6;
    --button-green: #1fe374;
    --footer-bg: #080c16;
    --footer-color: #d6dae5;
}
.body{
    background-color:  var(--primary-bg);
    margin-left: 0px;
    margin-right: 0px;;
}
.img1{
    display: flex;
    justify-content: left;
    margin-top: 0px;
    margin-left: 0px;
    height: 120px;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--navbar-bg);
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    height: 6%;
    margin-top: 48px;
    margin-right: 200px;
}
.navbar ul li{
    padding: 5px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:900;
    color:  var(--navbar-li);
    cursor: pointer;
    border:2px solid inherit;
}
.navbar ul li:hover{
    color: var(--navbar-hover);
}
.navbar ul li a{
    text-decoration: none;
    color: inherit;
}
.header{
    text-align: center;
    margin-top: 130px;
    font-size: 1.5rem;
}
.card-body{
    background-color: var(--card-bg);
}
.card-body h5{
   font-size: 2rem;
   text-align: center;
}
#monster-liste {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: flex-start;
    padding: 24px;
}

#monster-liste > div {
    flex: 0 1 calc(33.333% - 24px); /* 3 Karten pro Zeile, mit Abstand */
    box-sizing: border-box;
}
.monster-card {
    position: relative;
    height: 100px; /* Höhe nur für den Namen */
    margin-bottom: 0px;
    overflow: visible;
    align-items: center;      /*vertikal zentrieren*/
    justify-content: center;  /*horizontal zentrieren*/
}

.monster-card .collapse {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: var(--card-bg, #fff);
    z-index: 10;
    display: none;
    padding: 16px;
}

.monster-card .collapse.show {
    display: block;
}
.countdown {
   display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    font-weight: bold;
    height: 40vh;         /* Höhe anpassen*/
    margin-top: 10vh;     /*Abstand von oben*/
    text-align: center;
}


.header_countdown {
    text-align: center;
    margin-top: 130px;
    font-size: 1.5rem;
}