.body{
    background-color:  #eafaf1;
    margin-left: 0px;
    margin-right: 0px;;
}
.img1{
    display: flex;
    justify-content: left;
    margin-top: 30px;
    margin-left: 25px;
    height: 70px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #eafaf1;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    height: 6%;
    margin-top: 48px;
    margin-right: 200px;
}
.navbar ul li{
    padding: 5px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:900;
    color:  rgb(0,173,106);
    cursor: pointer;
}
.navbar ul li:hover{
    border: 2px solid #00ad6a;
}
.navbar ul li.active{
    color: #080c16;
}
.header{
    text-align: center;
    margin-top: 125px;
    font-size: 1.5rem;
}
.header h1{
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header h2{
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:100;
    color: #87888d;
    word-spacing:0.2rem ;
}   
.all-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.card1{
    padding: 20px;
    border-radius: 10px;
    width: 19%;
    max-width: 291px;
}
.card1 h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #00ad6a;
    font-size: 1.2rem;
}
.card1 ul{
    padding-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: #87888d;
}
.card1 ul li{
    padding-left: 10px;
    margin-bottom: 8px;
}
.card1 a{
    color: black;
}
.card1 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: #87888d;
}
.card2{
    background-color: #fcfcfcec;
    padding: 20px;
    border: 1.75px solid #00ad6a;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 20%;
}
.card2 h2{
    font-size: 0.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:100;
    background-color:#00ad6a;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -22px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-weight: bold;
}
.card2 h3{
    font-size: 3.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:900;
    color: #00ad6a;
    margin-top: 30px;
    margin-bottom: 5px;
    line-height: 1.1;
    width: 70%;
    letter-spacing: -0.2rem; ;
}
.card2 h4{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:100;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #adaeb1;
}
.card2 button{
    background-color: #1fe374;
    color: rgb(9, 9, 9);
    padding: 10px 0px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3rem;
    width: 60%;;
    border: none;
}
.card2 h5{
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    margin-top: 30px;
    margin-bottom: 0px;
    color: rgb(68, 68, 68);
}
.card2 ul{
    display: flex;
    flex-direction: column;
    justify-content: left;
    list-style: none;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: #87888d;
    text-align: left;
}
.card2 ul li{
    position: relative;
    padding-left: 15px;
    padding-top: 5px;
    
}
.card2 ul li::before{
    content: '✔';
    position: absolute;
    left: 0;
    color: #00ad6a;
}
.card3{
    background-color:#fcfcfcec;
    padding: 20px;
    margin: 0px;
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.card3 h3{
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:100;
    color: #87888d;
    background-color: #d5d7dd;
    margin-top: -20px;
    margin-bottom: 5px;
    width: 100%;
    padding: 20px;
    line-height: 1.5;
}
.card3 h2{
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:100;
    color: #00ad6a;
    margin-top: 15px;
    margin-bottom: 5px;
    line-height: 1.1;
}
.card3 h1{
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:100;
    color: #87888d;
    margin-top: 5px;
    margin-bottom: 20px;
}
.card3 button{
    background-color: #1fe374;
    color: rgb(9, 9, 9);
    padding: 10px 0px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    width: 50%;;
    border: none;
}
.card3 h4{
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    margin-top: 30px;
    margin-bottom: 0px;
    color: rgb(68, 68, 68);
}
.card3 ul{
    display: flex;
    flex-direction: column;
    justify-content: left;
    list-style: none;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: #87888d;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0px;
    line-height: 1.5;
}
.card3 ul li{
    position: relative;
    padding-left: 15px;
    padding-top: 5px;
    margin-bottom: 10px;
}
.card3 ul li::before{
    content: '✔';
    position: absolute;
    left: 0;
    color: #00ad6a;
}
.img2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 100px;
}
.ende{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.ende h2{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:100;
    display: flex;
    justify-content: center;
    text-align: center;
}
.ende h3{
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:900;
    display: flex;
    justify-content: center;
    color:  #00ad6a;
} 
.faq{
    background-color: #fcfcfc;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
.faqcards{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
.faqcards .reie{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.faq h2{
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
}
.faqcards h3{
   font-weight: 600;
   margin-bottom: 0px;
   display: flex;
   justify-content: left;
   align-items: center;
}
.faqcards p{
    font-weight: 100;
    margin-top: 0px;
    line-height: 1.5;
}
.footer{
    display: flex;
    justify-content: space-between;
    background-color: #080c16;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #d6dae5;
    padding-top: 50px;
}
.footer a{
    color: inherit;
}
.footer .links button{
    background-color: rgb(0,173,106);
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    width: 270px;
}
.footer .links{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.lofu{
    width: 200px;
    margin-left: -30px
}
footer .links p{
    font-size: 0.7rem;
    margin-top: 150px;
    min-width: 510px;

}
.spalten{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-left: 30px;
}
.spalte{
    display: flex;
    flex-direction: column;
    min-width: 170px;
    margin-top: 20px;
}
.spalte h3{
    font-weight: bold;
    font-size: 1rem;
}
.spalte p{
    font-weight: 600;
    font-size: 0.9rem;
    color: rgb(0,173,106);
    line-height: 1;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 30px;
}
.contact button{
    background-color: rgb(0,173,106);
    padding: 10px 10px;
    border: 2px solid #d6dae5;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 10px;
    color: #d6dae5;
}